@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 16px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: all 0.2s ease-in-out;
}



/* Login page start */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-body
{
  /* opacity:0.9; */
  background-image: url(https://images.unsplash.com/photo-1529539795054-3c162aab037a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bG9naW58ZW58MHx8MHx8&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
.login-container{
  width: 900px;
  height: 700px;
  /*background-color: rgb(165, 195, 206);*/
  margin: 30px auto;
  padding: 49px;
  border-radius: 15px;
}
.w-50{
  width: 400px;
  height: 600px;
  background-color: rgb(194, 253, 255);
  padding: 15px;
  float: left;
}
.mainbox{
  border-radius: 23px;
  overflow: hidden;
  box-shadow: 1px 1px 61px 7px #9d9e9d;
}
.mainbox h1{
  text-align: center;
}
.mainbox input{
  display: block;
  width: 70%;
  margin: 10px auto;
  padding: 9px 15px;
  border-radius: 10px;
  outline: none;
  font-size: 12px;
  border: 2px solid;
}
.icon{
  margin: 40px 5px;
  height: 70px;
  padding: 8px 0px;
  font-size: 40px;
  text-align: center;
  
}
.fa-whatsapp{
  color: green;
}
.fa-facebook{
  color: rgb(12, 12, 180);
}
.fa-telegram{
  color: rgb(112, 112, 212);
}
.fa-twitter{
  color: rgb(5, 81, 110);
}
.mainbox h3{
text-align: center;
color: grey;
font-size: 25px;  
}
.fa-envelope{
  position: absolute;
  top: 329px;
  right: 922px;
  font-size: 17px;
}
.fa-eye-slash{
  position: absolute;
  top: 375px;
  right: 922px;
  font-size: 17px;
}
.mainbox a{
  display: block;
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 0px 0px 0px 140px;
}
.login-btn{
  width: 30%;
  display: block;
  margin: 25px auto;
  padding: 5px 10px;
  border: 1px solid black;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  transition: all 0.5s;
  background-color: rgb(206, 141, 141);
  border-radius: 10px;
}
.login-btn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.login-img
{
  background-image: url(https://i.pinimg.com/736x/ec/fb/9f/ecfb9ffd184bceec03b3c19161eee7fd.jpg);
  background-position: center;
  background-size: cover;
  
}

/* Login page end */


/* signup page start */
.signup-body {
  background-color: #E3E6F3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

#signup-form .form-group-2 {
  margin-bottom: 20px;
}

#signup-form .form-group-2 label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 13px;
}

.form-group-2 input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.signup-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #45a049;
}

/* signup page end */


/* header start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: all 0.5s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* header end */

/* home page start*/
#hero {
  background-image: url('img/hero4.png');
  width: 100%;
  height: 90vh;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url('img/button.png');
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;

}

/* home page end*/
/* feture page start */
#feture .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feture .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);

}

#feture .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feture .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feture {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* feture page end */

/* product page start */
#product1 {
  text-align: center;
}

#product1 .product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

#product1 .product {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
  margin: 15px 0;
  transition: all 0.5s ease-in-out;
  position: relative;
}

#product1 .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);

}

#product1 .product img {
  width: 100%;
  border-radius: 20px;
}

#product1 .product .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .product .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .product .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .product .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .product .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .product .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* product page end */

/* banner section start */
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-image: url('/img/banner/b2.jpg');
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}

#banner button:hover {
  background-color: #088178;
  color: white;
}

/* banner section end */

/* sam banner section start */
#sm-banner .banner-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url('/img/banner/b17.jpg');
  min-width: 48%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url('/img/banner/b10.jpg');
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #fff;
}

#banner3 .banner-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url('/img/banner/b7.jpg');
  min-width: 30%;
  height: 25vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box2 {
  background-image: url('/img/banner/b4.jpg');
}

#banner3 .banner-box3 {
  background-image: url('/img/banner/b18.jpg');
}

#banner3 h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

/* sam banner section end */

/* news letter section start */
#news-letter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url('img/banner/b14.png');
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#news-letter h4 {
  color: white;
  font-size: 22px;
  font-weight: 700;
}

#news-letter p {
  color: #818ea0;
  font-size: 14px;
  font-weight: 600;
}

#news-letter p span {
  color: #ffbd27;
}

#news-letter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#news-letter button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#news-letter .form {
  display: flex;
  width: 40%;
}

/* news latter section end */

/* footer section start */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #222;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* footer section end */


/* shope page start */

#page-header {
  background-image: url('img/banner/b1.jpg');
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: white;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
}

/* single product page */
#product-details .single-product-img {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#product-details {
  display: flex;
  margin-top: 20px;
}

#product-details .single-product-detail {
  width: 50%;
  padding-top: 30px;
}

#product-details .single-product-detail h4 {
  padding: 40px 0 20px 0;
}

#product-details .single-product-detail h2 {
  font-size: 26px;
}

#product-details .single-product-detail select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#product-details .single-product-detail input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#product-details .single-product-detail input:focus {
  outline: none;
}

#product-details .single-product-detail button {
  background: #088178;
  color: white;
}

#product-details .single-product-detail p {
  line-height: 2;
}

#product-details .single-product-detail p span {
  font-weight: 700;
}

/* shope page end */